.nav
{
    background-color: var(--main);
}
.nav ul
{
    list-style: none;
    text-align: center;
}
.nav ul li
{
    display: inline-block;
}
.nav ul li a
{
    padding: 15px 25px;
    color: var(--gray-100);
    display: inline-block;
    text-decoration: none;
}
.nav ul li a:hover
{
    background-color: var(--main-100);
}